body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.center-text, .center-pizza {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-pizza img {
  max-width: 50%;
  height: auto;
}
