body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.center-text, .center-pizza {
  width: 100%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.center-pizza img {
  max-width: 100%;
  height: auto;
}

.center-text {
  margin: 0;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
